[Desktop Entry]
Version=1.0
Name=Disney
Exec=omarchy-launch-webapp "https://www.disneyplus.com/es-sv"
Terminal=false
Type=Application
Icon=disney
StartupNotify=true
