[Desktop Entry]
Version=1.0
Name=ExcaliDraw
Exec=omarchy-launch-webapp "https://excalidraw.com/"
Terminal=false
Type=Application
Icon=excalidraw
StartupNotify=true
