[Desktop Entry]
Version=1.0
Name=Grok AI
Exec=omarchy-launch-webapp "https://grok.com/"
Terminal=false
Type=Application
Icon=grok-ai
StartupNotify=true
