[Desktop Entry]
Version=1.0
Type=Application
Name=Herdr
Comment=Herdr CLI Tool
Exec=xdg-terminal-exec --app-id=TUI.tile -e herdr
Terminal=false
Icon=utilities-terminal
Categories=ConsoleOnly;Utility;
Keywords=tui;terminal;cli;
