[Desktop Entry]
Version=1.0
Name=Monica HQ
Exec=omarchy-launch-webapp "https://www.monicahq.com/"
Terminal=false
Type=Application
Icon=monica-hq
StartupNotify=true
