[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal Disk Usage Analizer
GenericName=Disk Usage Analyzer
Comment=Check disk space usage in the terminal
Exec=xdg-terminal-exec --app-id=ncdu -e ncdu
Terminal=false
Icon=ncdu
StartupNotify=false
Categories=ConsoleOnly;Utility;
Keywords=tui;terminal;cli;
