[Desktop Entry]
Version=1.0
Name=NotebookLM
Exec=omarchy-launch-webapp "https://notebooklm.google.com/"
Terminal=false
Type=Application
Icon=notebooklm
StartupNotify=true
