[Desktop Entry]
Version=1.0
Name=Notion
Exec=omarchy-launch-webapp "https://www.notion.so/OMARCHY-28ae971e6e8b8025b230ec19f39596e7?showMoveTo=true&saveParent=true"
Terminal=false
Type=Application
Icon=notion
StartupNotify=true
