[Desktop Entry]
Version=1.0
Name=Perplexity AI
Exec=omarchy-launch-webapp "https://www.perplexity.ai/"
Terminal=false
Type=Application
Icon=perplexity-ai
StartupNotify=true
