[Desktop Entry]
Version=1.0
Name=Platzi
Exec=omarchy-launch-webapp "https://platzi.com/home/"
Terminal=false
Type=Application
Icon=platzi
StartupNotify=true
