[Desktop Entry]
Version=1.0
Name=Qwen Coder
Exec=omarchy-launch-webapp "https://coder.qwen.ai/"
Terminal=false
Type=Application
Icon=qwen-ai
StartupNotify=true
