[Desktop Entry]
Version=1.0
Name=TickTick
Exec=omarchy-launch-webapp "https://ticktick.com/"
Terminal=false
Type=Application
Icon=ticktick
StartupNotify=true
