[Desktop Entry]
Version=1.0
Name=Tigo Sports
Exec=omarchy-launch-webapp "https://www.tigosports.com.sv/inicio"
Terminal=false
Type=Application
Icon=tigo-sports
StartupNotify=true
