[Desktop Entry]
Version=1.0
Type=Application
Name=WhatsApp 2
Exec=microsoft-edge-stable --app="https://web.whatsapp.com/"
Terminal=false
Icon=whatsapp
Categories=Network;
Keywords=web;webapp;browser;alt-account;
